.content-row
    h1.text-center.content-row-title #{$i18n.what_do}
    .row
        .col-md-4.col-sm-6.col-xs-12
            .card.card-grid
                img.card-image.card-image-low(src="assets/img/esindamine.jpg")
                .card-content
                    h3 #{$i18n.what_do_card_title_presentation}
                    p
                        | #{$i18n.what_do_card_content_presentation}
        .col-md-4.col-sm-6.col-xs-12
            .card.card-grid
                img.card-image.card-image-low(src="assets/img/haridus.jpg")
                .card-content
                    h3 #{$i18n.what_do_card_title_education}
                    p
                        | #{$i18n.what_do_card_content_education}
        .col-md-4.col-sm-12.col-xs-12
            .card.card-grid
                img.card-image.card-image-low(src="assets/img/meelelahutus.jpg")
                .card-content
                    h3 #{$i18n.what_do_card_title_entertainment}
                    p
                        | #{$i18n.what_do_card_content_entertainment}
